body{
    text-align: center;
    background-image: url('img/index_background.jpg') ;
    background-size: auto;
    box-sizing:border;
    
  }
  .btn-theme  {
    color: #fff;
    background-color: #4F92AF;
    border-color: #4F92AF;
  }
  .btn-theme:hover  {
    color: #fff;
    background-color: #444;
    border-color: #444;
  }
  form.signup input[type=email]  {
    height: 42px;
    width: 200px;
    border-radius: 0;
    border: none;
  }
  form.signup button.btn {
    font-weight: 700;
  }
  form.signup input.form-control:focus {
    border-color: #fd680e;
  }
  .form-control {
    float: middle;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  }
  .form-control:-moz-placeholder {
    color: #999;
  }
  .form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  .form-control:-ms-input-placeholder {
    color: #999;
  }
  .form-control::-webkit-input-placeholder {
    color: #999;
  }
  .form-control[disabled],
  .form-control[readonly],
  fieldset[disabled] .form-control {
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
  }
  textarea.form-control {
    height: auto;
  }