{% extends './league/base.html' %}

{% block header %}
<h1>{% block title %}{{name}}{% endblock %}</h1>
{% endblock %}


{% block content_scoreboard %}
    {% from './public_elements.html' import show_scoreboard %}
    {{show_scoreboard(scoreboard)}}
{% endblock %}


{% block content_matches %}
    {% from './public_elements.html' import show_matches %}
    {{show_matches(matches)}}
{% endblock %}


{% block content_scores %}
    {% from './public_elements.html' import show_scoring_chart %}
    {{show_scoring_chart(scoring_chart)}}
{% endblock %}

{% block modal %}
    {% from './public_elements.html' import show_submit_modal %}
    {{show_submit_modal()}}

    {% from './public_elements.html' import show_schedule_modal %}
    {{show_schedule_modal(season_id)}}
{% endblock %}